body{
    background-color: #fbfdfd;    
}
nav{
    font-family: 'Raleway' , sans-serif;   
}
h1{ 
    text-align: center;
    font-family: 'Raleway' , sans-serif;
    color: #F8ECEC;  
}
p.navlink{
    color:  #F8ECEC;
    transition: 0.3s;
    font-size: 150%;
}
p.navlink:hover{
    color: #cfafaf;
}
h2{ 
    text-align: center;
    font-family: 'Raleway' , sans-serif;
    color: #003e41;
    padding-top: 6%;   
}
p{
    text-align: center;
    font-family: 'Raleway' , sans-serif;
    color: #003e41;
    line-height: 200%;
    font-size: 150%;
}
ul{
    list-style-type: none;
    text-align: center;
    font-family: 'Raleway' , sans-serif;
}


img.portrait{
    float:right;
    border-radius: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1); 
}
div.water2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    width: 100%;
    
}

div.about{
    font-family: 'Raleway' , sans-serif;
    color: #003e41;
    content: "";
    clear: both;
    display: table;
    padding:2%;
    background-color: #F8ECEC;
    line-height: 200%;
    
}

p.about{
    text-align: left;
    max-width: 65%;
    margin-left: 8px;
    padding: 4%;
    border-style: solid ;
    border-width:0px 0px 0px 20px ;
    border-color: #6C8685 #6C8685 ;
    
   
}


div.welcome{
    background-color: rgb(125, 151, 151);
    padding:2%;
    
}

p.welcome{
    border-style: solid;
    border-width: 0px 0px 0px 20px;
    border-color:  #d8a75d;
    margin-left: 8px;
    padding: 4%;
}
div.approach{
    font-family: 'Raleway' , sans-serif;
    color: #003e41;
    padding: 2%;
    background-color:  #d8a75d;
    line-height: 200%;
    
}

p.approach{
    border-style: solid;
    border-width: 0px 20px 0px 0px;
    border-color: #F8ECEC;
    margin-right: 8px;
    padding: 4%;
}
div.issues{
    font-family: 'Raleway' , sans-serif;
    color: #003e41;
    padding: 2%;
    background-color: #6C8685;
    line-height: 200%;
    

}

ul{
    line-height: 200%;
    font-size: 150%;
    border-style: solid;
    border-width: 0px 20px 0px 0px;
    border-color: #F8ECEC;
    

}
/*div.testimonials{
    background-color: #89afa1;
    content: "";
    clear: both;
    display: table;
    padding:2%;

}
img.test1{
    border-radius: 50%;   
}
p.testi{
    font-size: 30px;
    font-style: italic;
}
span.testname{
    font-size: 20px;
    font-style: normal;
}
img.test2{
    border-radius: 50%;
} */

div.contact{
    background-color: linen;
    

}


input {
   width: 100%;
    padding: 1%;
    border-radius: 10px;
    border: 3px solid #F8ECEC;
    outline: none;
    transition: 0.3s;
  }
  input:focus {
      border: 3px solid #cfafaf;
  }
  textarea{
    width: 100%;
    padding: 1%;
    border-radius: 10px;
    border: 3px solid  #F8ECEC;
    outline: none;
    transition: 0.3s;

  }
  textarea:focus {
    border: 3px solid#cfafaf;
  }
  button.submit {
      background-color: #F8ECEC;
      border: none;
      color: #164749;
      padding: 10px 10px;
      text-align: center;
      font-family: 'Raleway' , sans-serif;
      font-size: 16px;
      border-radius: 20%;
      transition-duration: 0.3s;
       
  }
  button.submit:hover {
      background-color: #cfafaf;
  }

  div.column {
      float: left;
      width: 50%;
      padding: 10px;
  }
  div.row:after {
      content: "";
      display: table;
      clear: both;
  }
  @media screen and (max-width: 600px){
      div.column {
          width: 100%;
      }
  }   
  form {
      width:100%;
  } 

  
 spare colors{
        color: linen;
        color: #f3cdca;
        color: khaki;
        color: lightslategrey;
        color:#003e41;
        color:#9fb2b3;
        color:#f5d15a;
        color:#053847;
        color:#f8e7af;
        color:#164749;
        color:#f5d15a;
        color:#afa9d1;
        color: #89afa1;
        color:rgb(78, 109, 93);
        color: rgb(191, 194, 145);
        color: rgb(125, 151, 151);
        color: rgb(168, 192, 216);
        color: #f8e7af;
        color: #b2d8da;
        color: #053847;


 }
 