body{
    background-color: rgb(125, 151, 151); 
      
 
}
html {
    scroll-padding-top: 70px; 
}
nav{
    font-family: 'Raleway' , sans-serif;     
}
h1{ 
    text-align: left;
    font-family: 'Raleway' , sans-serif;
    color: #F8ECEC;  
    margin: 0px 0px 0px 0px;
}
@media screen and (max-width: 900px) {
    h1 {
        font-size:7vw !important;
    }
  }


p.navlink{
    color:  #F8ECEC;
    transition: 0.3s;
   
}
p.navlink:hover{
    color: #cfafaf;
    text-decoration: underline;
}





h2{ 
    text-align: center;
    font-family: 'Raleway' , sans-serif;
    color: #01522a;
    padding-top: 3%; 
    font-size: 40px !important;
    font-weight: bold !important;     
}
@media screen and (max-width: 900px) {
    h2 {
        padding-top: 12%;
    }
  }
/*paragraph styling*/
p{
    text-align: center;
    font-family: 'Raleway' , sans-serif;
    color: #003e41;
    line-height: 200%;
    font-size: 100;    
}
p.about{
    text-align: left;
    max-width: 100%;
    margin-left: 8px;
    padding: 4%;
    border-style: solid ;
    border-width:0px 0px 0px 20px ;
    border-color: #e2c792  ;
    border-radius: 40px;   
}
p.welcome{
    border-style: solid;
    border-width: 0px 0px 0px 20px;
    border-color:  #e2c792;
    margin-left: 8px;
    padding: 4%;
    text-align: left;
    border-radius: 40px;
    max-width:55%;
}
p.approach{
    border-radius: 40px;
    margin: 4%;
    padding: 4%;
    border-style: solid ;
    border-width:0px 20px 0px 0px ;
    border-color: #e2c792;
    background-color: rgba(247, 247, 242, 0.8);
    text-align: left;
    
}
p.topics{
    border-radius: 40px;
    text-align: right;
    margin-left: 50%;
    padding-right: 15%;
}
p.contact {
    background-color:  rgba(250, 240, 240, 0.8);
    padding: 2%;
}
p.testi{
    font-style: italic;
    font-size: 30px !important;
}
@media screen and (max-width: 900px) {
    p.testi{
        font-size: 15px !important;
    }
}
ul{
    list-style-type: none;
    text-align: center;
    font-family: 'Raleway' , sans-serif;
    line-height: 200%;
    font-size: 100;
    text-align: right;
    margin-left: 50%;
    padding-right: 15%;
}
/*image styling*/
img.portrait{
    top: 20%;
    float:right;
    box-shadow: 0 4px 8px 0 rgb(8, 8, 8), 0 6px 20px 0 rgb(7, 7, 7); 
    margin: 5%;
    border-radius: 20%;   
}
img.couch{
    
    
    float:right;
    box-shadow: 0 4px 8px 0 rgb(8, 8, 8), 0 6px 20px 0 rgb(7, 7, 7); 
    margin: 5%;   
    border-radius: 20%;
}
img.test{
    border-radius:50%;
    box-shadow: 0 4px 8px 0 rgb(8, 8, 8), 0 6px 20px 0 rgb(7, 7, 7);
    margin: 3%; 
}
/*div styling*/
div.water2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    width: 100%;    
}
div.about{
    font-family: 'Raleway' , sans-serif;
    color: #003e41;
    content: "";
    clear: both;
    display: table;
    padding:4%;
    background-color: #99bdbb;
    line-height: 200%;   
}
div.welcome{
    background-color: rgb(125, 151, 151);
    padding:4%;
    background-image: url("images/orchid.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-color: #e2c792;
    border-bottom-style: solid;
    border-bottom-width: 50px;    
}
@media only screen and (max-width: 900px) {
    div.welcome {
      background-image: url("images/orchid2.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      
    }
    p.welcome{
        max-width: 100%;
        background-color: rgba(184, 159, 79, 0.3);
    }
  }
  
div.approach{
    font-family: 'Raleway' , sans-serif;
    color: #003e41;
    text-align: right;
    padding: 2%;
    background-color:  #d8a75d;
    line-height: 200%;
    background-image: url("images/water1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;  
    display: flex;
    flex-flow: column wrap;
    
}
@media only screen and (max-width: 900px) {
    div.approach {
      background-image: url("images/water1media.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      
    }
}

div.topics{
    font-family: 'Raleway' , sans-serif;
    color: #003e41;
    padding: 4%;
    background-color: rgba(215, 218, 183, 0.8);
    line-height: 200%;
    background-image: url("images/plant.jpg");
    background-size: cover;
    background-repeat: no-repeat;   
    border-bottom-color: #e2c792;
    border-bottom-style: solid;
    border-bottom-width: 50px;
}
@media only screen and (max-width: 900px) {
    div.topics {
      
      background-image: url("images/plant3.jpg");
      background-size: cover;
      background-repeat: no-repeat;
    }
    ul{
        max-width: 100%;
        margin-left: 25%;
    } 
    div.topics2{
        background-color: rgb(191, 194, 145, 0.5);
  }
}
div.topics2{
    border-style: solid ;
    border-width:0px 20px 0px 0px ;
    border-color: #e2c792;
    text-align: right;
    border-radius: 40px;
   
}
div.testimonials{
    background-color: #86b2c4;
    background-image: url("images/diary.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-color: #e2c792;
    border-bottom-style: solid;
    border-bottom-width: 50px;
}
div.contact{
    background-color: #86b2c4;
    background-image: url("images/water3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;   
}
@media only screen and (max-width: 900px) {
    div.contact{
      background-image: url("images/water3media.jpg");
      background-size: cover;
      background-repeat: no-repeat;
    }
}
div.row{
    margin: 0px;
}
/*form styling*/
input {
   width: 100%;
    padding: 2%;
    border-radius: 10px;
    border: 3px solid #F8ECEC;
    outline: none;
    transition: 0.3s;  
  }
  input:focus {
      border: 3px solid #cfafaf;
  }
  textarea{
    width: 100%;
    padding: 2%;
    border-radius: 10px;
    border: 3px solid  #F8ECEC;
    outline: none;
    transition: 0.3s;
    text-align: left;
    color: #164749;
    font-family: 'Raleway' , sans-serif;
    font-size: 16px;
  }
  textarea:focus {
    border: 3px solid#cfafaf;
    
  }

  input#submit {
      background-color: #F8ECEC;
      border: none;
      color: #164749;
      padding: 3%;
      text-align: center;
      font-family: 'Raleway' , sans-serif;
      font-size: 16px;
      border-radius: 10px;
      transition-duration: 0.3s;
      margin-top: 4%; 
      max-width: 25%; 
      float: right;   
  }

  div.submit{
      align-items: center;
  }
  input#submit:hover {
      background-color: #cfafaf;
  }
  div.column {
      float: left;
      width: 50%;
      padding-left: 5%;
      padding-top: 1%;
  }
  div.row:after {
      content: "";
      display: table;
      clear: both;
  }
  @media screen and (max-width: 900px){
     
      div.column {
          width: 100%;
      }
  }   
  form {
      width:90%;
      padding: 2%;    
  } 
  /*captcha styling*/
  @media screen and (max-width: 900px){ 
    div.g-recaptcha {
    transform:scale(0.77);
    -webkit-transform:scale(0.77);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
    float:left;
    } 
    
  
 spare colors{
        color: linen;
        color: #f3cdca;
        color: khaki;
        color: lightslategrey;
        color:#003e41;
        color:#9fb2b3;
        color:#f5d15a;
        color:#053847;
        color:#f8e7af;
        color:#164749;
        color:#f5d15a;
        color:#afa9d1;
        color: #89afa1;
        color:rgb(78, 109, 93);
        color: rgb(191, 194, 145);
        color: rgb(125, 151, 151);
        color: rgb(168, 192, 216);
        color: #f8e7af;
        color: #b2d8da;
        color: #053847;
        color: rgb(191, 194, 145, 0.5)

 }
 /*Spare styling for if we implement the testimonials section
 div.testimonials{
    background-color: #89afa1;
    content: "";
    clear: both;
    display: table;
    padding:2%;

}
img.test1{
    border-radius: 50%;   
}
p.testi{
    font-size: 30px;
    font-style: italic;
}
span.testname{
    font-size: 20px;
    font-style: normal;
}
img.test2{
    border-radius: 50%;
} */